* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo img {
  max-width: 220px;
  width: 100%;
  height: auto;
}

h2 {
  font-family: "Poiret One", cursive;
  font-weight: lighter;
}

.card p {
  padding-top: 6px;
  color: #ab8476;
  font-family: "Poiret One", cursive;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  font-family: "Poiret One", cursive;
}

nav ul li a:hover {
  color: #ab8476;
}

nav ul li a:active {
  color: #ab8476;
}

.art-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: calc(33.33% - 20px);
  /* margin-bottom: 20px; */
  background-color: #fff;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  padding-bottom: 10px;
}

.contact-form {
  padding: 40px;
  background-color: #dadada;
}

h2 {
  padding-bottom: 10px;
}

.contact-form p {
  font-family: "Poiret One", cursive;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  margin-bottom: 10px;
  padding: 10px;
  margin-right: 50%;
  border-radius: 10px;
  border: 1px solid #ab8476;
  outline: none;
  font-family: "Poiret One", cursive;
}

.contact-form button {
  transition: background-color 0.3s, color 0.3s;
}

.contact-form button:hover,
.contact-form button:active {
  background-color: #ab8476;
  color: white;
}

.artist-statement {
  text-align: center;
  padding: 20px 300px;
  margin-top: 8px;
}

.artist-statement h4 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: "Poiret One", cursive;
}

.artist-statement p {
  font-size: 16px;
  line-height: 2.2;
  font-family: "Poiret One", cursive;
}

.art-details {
  display: flex;
  align-items: center;
  padding: 20px 100px;
}

.art-image {
  margin-right: 30px;
}

.art-metadata .subtitle {
  font-family: "Poiret One", cursive;
  color: #ab8476;
  padding-bottom: 20px;
}

.art-metadata p {
  font-family: "Poiret One", cursive;
  line-height: 30px;
}

.art-image img {
  width: 550px;
  height: 500px;
  object-fit: contain;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 30px 60px;
}

.social-icons a {
  margin-right: 16px;
  color: black;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
  .artist-statement {
    padding: 20px 100px;
  }
  .art-details {
    padding: 20px;
  }

  .art-image img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 100%;
  }
  .artist-statement {
    padding: 20px;
  }

  .artist-statement p {
    padding: 10px;
  }
}
